{% extends 'base.html' %} {% block content %}

<div class="row categories-row center-align">
  <div class="col xl4 l6 m6 s12">
    <div class="card small hoverable">
      <div class="card-image waves-effect waves-block waves-light">
        <img
          class="activator"
          src="../static/images/shop1.jpg"
          alt="Under 12 Quiz"
        />
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4"
          >Under 12 Quiz<i class="material-icons right">more_vert</i></span
        >
        <a
          href="{{url_for('get_under_construction')}}"
          class="btn waves-effect waves-light green darken-4 hoverable"
        >
          Add to Cart
        </a>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4"
          >Under 12 Quiz<i class="material-icons right">close</i></span
        >
        <p>8 rounds of 10 questions</p>
        <ul class="quiz-rounds">
          <li><b>Round 1:</b> Cartoons</li>
          <li><b>Round 2:</b> Geography</li>
          <li><b>Round 3:</b> History</li>
          <li><b>Round 4:</b> Music</li>
          <li><b>Round 5:</b> Sport</li>
          <li><b>Round 6:</b> Picture round</li>
          <li><b>Round 7:</b> True or False</li>
          <li><b>Round 8:</b> General Knowledge</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col xl4 l6 m6 s12">
    <div class="card small hoverable">
      <div class="card-image waves-effect waves-block waves-light">
        <img
          class="activator"
          src="../static/images/shop2.jpg"
          alt="Teenager Quiz"
        />
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4"
          >Teenager Quiz<i class="material-icons right">more_vert</i></span
        >
        <a
          href="{{url_for('get_under_construction')}}"
          class="btn waves-effect waves-light green darken-4 hoverable"
        >
          Add to Cart
        </a>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4"
          >Teenager Quiz<i class="material-icons right">close</i></span
        >
        <p>8 rounds of 10 questions</p>
        <ul class="quiz-rounds">
          <li><b>Round 1:</b> TV and Film</li>
          <li><b>Round 2:</b> Geography</li>
          <li><b>Round 3:</b> History</li>
          <li><b>Round 4:</b> Music</li>
          <li><b>Round 5:</b> Sport</li>
          <li><b>Round 6:</b> Picture round</li>
          <li><b>Round 7:</b> True or False</li>
          <li><b>Round 8:</b> General Knowledge</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col xl4 l6 m6 s12">
    <div class="card small hoverable">
      <div class="card-image waves-effect waves-block waves-light">
        <img
          class="activator"
          src="../static/images/general_knowledge.jpg"
          alt="General Knowledge Easy"
        />
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4"
          >Easy Adult Quiz<i class="material-icons right">more_vert</i></span
        >
        <a
          href="{{url_for('get_under_construction')}}"
          class="btn waves-effect waves-light green darken-4 hoverable"
        >
          Add to Cart
        </a>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4"
          >Easy Adult Quiz<i class="material-icons right">close</i></span
        >
        <p>8 rounds of 10 questions</p>
        <ul class="quiz-rounds">
          <li><b>Round 1:</b> TV and Film</li>
          <li><b>Round 2:</b> Geography</li>
          <li><b>Round 3:</b> History</li>
          <li><b>Round 4:</b> Music</li>
          <li><b>Round 5:</b> Sport</li>
          <li><b>Round 6:</b> Picture round</li>
          <li><b>Round 7:</b> True or False</li>
          <li><b>Round 8:</b> General Knowledge</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col xl4 l6 m6 s12">
    <div class="card small hoverable">
      <div class="card-image waves-effect waves-block waves-light">
        <img
          class="activator"
          src="../static/images/general_knowledge.jpg"
          alt="General Knowledge Medium"
        />
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4"
          >Medium Adult Quiz<i class="material-icons right">more_vert</i></span
        >
        <a
          href="{{url_for('get_under_construction')}}"
          class="btn waves-effect waves-light green darken-4 hoverable"
        >
          Add to Cart
        </a>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4"
          >Med Adult Quiz<i class="material-icons right">close</i></span
        >
        <p>8 rounds of 10 questions</p>
        <ul class="quiz-rounds">
          <li><b>Round 1:</b> TV and Film</li>
          <li><b>Round 2:</b> Geography</li>
          <li><b>Round 3:</b> History</li>
          <li><b>Round 4:</b> Music</li>
          <li><b>Round 5:</b> Sport</li>
          <li><b>Round 6:</b> Picture round</li>
          <li><b>Round 7:</b> True or False</li>
          <li><b>Round 8:</b> General Knowledge</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col xl4 l6 m6 s12">
    <div class="card small hoverable">
      <div class="card-image waves-effect waves-block waves-light">
        <img
          class="activator"
          src="../static/images/general_knowledge.jpg"
          alt="General Knowledge Hard"
        />
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4"
          >Hard Adult Quiz<i class="material-icons right">more_vert</i></span
        >
        <a
          href="{{url_for('get_under_construction')}}"
          class="btn waves-effect waves-light green darken-4 hoverable"
        >
          Add to Cart
        </a>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4"
          >Hard Adult Quiz<i class="material-icons right">close</i></span
        >
        <p>8 rounds of 10 questions</p>
        <ul class="quiz-rounds">
          <li><b>Round 1:</b> TV and Film</li>
          <li><b>Round 2:</b> Geography</li>
          <li><b>Round 3:</b> History</li>
          <li><b>Round 4:</b> Music</li>
          <li><b>Round 5:</b> Sport</li>
          <li><b>Round 6:</b> Picture round</li>
          <li><b>Round 7:</b> True or False</li>
          <li><b>Round 8:</b> General Knowledge</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col xl4 l6 m6 s12">
    <div class="card small hoverable">
      <div class="card-image waves-effect waves-block waves-light">
        <img
          class="activator"
          src="../static/images/sports.jpg"
          alt="Irish Sports Quiz"
        />
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4"
          >Irish Sports Quiz<i class="material-icons right">more_vert</i></span
        >
        <a
          href="{{url_for('get_under_construction')}}"
          class="btn waves-effect waves-light green darken-4 hoverable"
        >
          Add to Cart
        </a>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4"
          >Irish Sports Quiz<i class="material-icons right">close</i></span
        >
        <p>8 rounds of 10 questions</p>
        <ul class="quiz-rounds">
          <li><b>Round 1:</b> Gaelic</li>
          <li><b>Round 2:</b> Hurling</li>
          <li><b>Round 3:</b> Soccer</li>
          <li><b>Round 4:</b> Rugby</li>
          <li><b>Round 5:</b> Athletics</li>
          <li><b>Round 6:</b> Picture round</li>
          <li><b>Round 7:</b> True or False</li>
          <li><b>Round 8:</b> All other sports</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col xl4 l6 m6 s12">
    <div class="card small hoverable">
      <div class="card-image waves-effect waves-block waves-light">
        <img
          class="activator"
          src="../static/images/music.jpg"
          alt="Irish Music Quiz"
        />
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4"
          >Irish Music Quiz<i class="material-icons right">more_vert</i></span
        >
        <a
          href="{{url_for('get_under_construction')}}"
          class="btn waves-effect waves-light green darken-4 hoverable"
        >
          Add to Cart
        </a>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4"
          >Irish Music Quiz<i class="material-icons right">close</i></span
        >
        <p>8 rounds of 10 questions</p>
        <ul class="quiz-rounds">
          <li><b>Round 1:</b> First lines</li>
          <li><b>Round 2:</b> 80s Irish music</li>
          <li><b>Round 3:</b> 90s Irish music</li>
          <li><b>Round 4:</b> Noughties Irish music</li>
          <li><b>Round 5:</b> Picture round</li>
          <li><b>Round 6:</b> Picture round</li>
          <li><b>Round 7:</b> True or False</li>
          <li><b>Round 8:</b> General Knowledge</li>
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock %}
